.row {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  color: #444;
}
.row > div {
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 150%;
}

.bg {
  height: 500px;
  width: 300px;
  background-image: url("image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.black-effect {
  height: 500px;
  width: 300px;
  background-image: url("black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
